/*style rules*/

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}



ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/*layout*/

.container{
  max-width: 1024px;
  margin: 0 auto ;
  padding: 2rem;
}

.bg-nav{
  background-color: rgb(57, 57, 237);
}

.flex-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer-link-home{
  background-color: rgb(10, 10, 62);
  color: white;
  padding: 50px; 
}



